*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    display: flex;
    margin: 1em;
    list-style: none;
    background:rgb(38, 36, 35);
    
}
li{
    margin: 0.5em; 
 
}
@font-face {
    font-family:'pixel';
    src: url('04B_30__.TTF')format('truetype'),
    url('04B_30__.TTF')format('truetype');
    font-weight: normal;
    font-style: normal;
}
div.cabeca{
    display: flex;
    justify-content: center;
    font-family:'pixel';
    font-size: 2em;
    font-weight:normal;   
    width: 100%;
    background-color:rgb(38, 36, 35);
    margin: 0px;
}
footer{
    margin-top: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family:'pixel';
    background:rgb(38, 36, 35);
    color:yellow;
}
div.centro{
    display: flex;
    justify-content: center;
    color:yellow;
}
.body{
    background-image: url('imagem.img/images.jpeg');
 
}
article.g-color:hover{
    background:#f08080;
    
}
article.p-color:hover{
    background:#1040e0;
}
article.cs-color:hover{
    background: #e0881e;
}
article.m-color:hover{
    background:#8b4513;
}
article{
    background: rgb(255, 255, 255);
    border-color: black;
    margin: 1vw;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0 0 0.5em rgba(131, 86, 86, 0.1);
    transition: all .6s;
}
main{
    display: flex;
}
nav a{
    color: white;
    text-decoration: underline;
}
nav.a:hover {
    color: #fff;
    text-decoration:line-through;
}
div.btn-exemplo{
    background-color: #c62020;
    height: 10vh;
    width: 10vw;
    border-radius: 10vw;
    position: fixed;
    right:10px;
    box-shadow: 3px 3px 3px #abca;
}
.btn{
    background-color: #c6208f;
    height: 10vh;
    width: 10vw;
    border-radius: 10vw;
}
img.imagem-cs{
    width: 200px;
}
img.imagem-gta6{
    width: 230px;
}
img.imagem-play{
    width: 200px;
}
img.imagem-mine{
    width: 200px;
}